@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* ff 3.6+ */
    background: -moz-radial-gradient(
      circle at 3% 10%,
      rgba(0, 40, 83, 1) 0%,
      rgba(4, 12, 24, 1) 100%
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(
      circle at 3% 10%,
      rgba(0, 40, 83, 1) 0%,
      rgba(4, 12, 24, 1) 100%
    );

    /* opera 11.10+ */
    background: -o-radial-gradient(
      circle at 3% 10%,
      rgba(0, 40, 83, 1) 0%,
      rgba(4, 12, 24, 1) 100%
    );

    /* ie 10+ */
    background: -ms-radial-gradient(
      circle at 3% 10%,
      rgba(0, 40, 83, 1) 0%,
      rgba(4, 12, 24, 1) 100%
    );

    /* global 92%+ browsers support */
    background: radial-gradient(
      circle at 3% 10%,
      rgba(0, 40, 83, 1) 0%,
      rgba(4, 12, 24, 1) 100%
    );
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .navbarLink {
    @apply h-10 w-10 cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3];
  }

  .navbarFont {
    @apply text-2xl cursor-pointer font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3];
  }

  .modalBackground {
    @apply flex justify-center items-center w-[100vw] h-[100vh] fixed inset-0 bg-background-rgba z-50;
  }
}
